<%= form_tag({controller: "messages", action: "create"}, method: :post) do %>
  <div>Subject
  <%= text_field_tag :subject %></div>
  <div>Message
  <%= text_area_tag :body %></div>
  <%= hidden_field_tag :user, "#{@user.id}" %>
  <div>
  <%= submit_tag 'Send Message' %></div>
<% end %>