<%= form_for @user do |f| %>
  <div class="row">
    <div class="large-6 columns">
      <%= f.text_field :firstname %>
    </div>
    <div class="large-6 columns">
      <%= f.text_field :lastname %>
    </div>
  </div>
  
  <div class="row">
    <div class="large-6 columns">
      <div class="row">
        <div class="large-3 columns">
          <p class="edit-label">age:</p>
        </div>
        <div class="large-9 columns">
        <%= f.select :age, [18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75] %>
        </div>
      </div>
    </div> 
    <div class="large-6 columns">
      <div class="row">
        <div class="large-4 columns">
          <p class="edit-label">gender:</p>
        </div>
        <div class="large-8 columns">
        <%= f.select :gender, ["male", "female"] %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <p class="edit-label">search radius in miles: </p>
    </div>
    <div class="large-6 columns">
      <%= f.select :search_radius, [0, 10, 20, 30, 40, 50, 60, 100] %> 
    </div>
  </div>
  
  about me:<%= f.text_area :description %>
  <%= f.submit 'save', :class => 'tiny secondary button' %>
<% end %>