<p id="notice"><%= notice %></p>

<div class="row">
  <h1>profile</h1>
</div>

<div class="row">
<p>Activity Tags</p>
</div>

<div class="row">
  <% @activity_tags.each do |tag| %>
    <% if @user.tags.include?(tag) %>
      <%= tag.name %>
    <% else %>
      <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small' do %>
      <%= tag.name %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <p>Goal Tags</p>
</div>

<div class="row">
  <% @goal_tags.each do |tag| %>
    <% if @user.tags.include?(tag) %>
      <%= tag.name %>
    <% else %>
      <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small' do %>
      <%= tag.name %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <p>Interest Tags</p>
</div>

<div class="row">
  <% @interest_tags.each do |tag| %>
    <% if @user.tags.include?(tag) %>
      <%= tag.name %>
    <% else %>
      <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small' do %>
      <%= tag.name %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
