<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-8 large-centered columns">

    <h1>profile</h1>

    <div>
      <%= image_tag @user.photo.url(:medium) %>
    </div>

    <%= best_in_place @user, :lastname, :type => :input %>

    <div>
      <%= form_for @user, :url => user_path, method: :put, :html => { :multipart => true } do |form| %>
        <%= form.file_field :photo %>
        <%= form.submit "submit photo", :class => 'tiny secondary button' %>
      <% end %>
    </div>

    <p>Activity Tags</p>

    <div>
      <% @activity_tags.each do |tag| %>
        <% if @user.tags.include?(tag) %>
          <%= button_to [:delete_tagging, @user], params: {tag_id: tag.id}, method: :delete do %>
            <%= tag.name %>
            <% end %>
        <% else %>
          <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small radius' do %>
          <%= tag.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <p>Goal Tags</p>

    <div>
      <% @goal_tags.each do |tag| %>
        <% if @user.tags.include?(tag) %>
          <%= button_to [:delete_tagging, @user], params: {tag_id: tag.id}, method: :delete do %>
            <%= tag.name %>
            <% end %>
        <% else %>
          <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small radius' do %>
          <%= tag.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <p>Interest Tags</p>

    <div>
      <% @interest_tags.each do |tag| %>
        <% if @user.tags.include?(tag) %>
          <%= button_to [:delete_tagging, @user], params: {tag_id: tag.id}, method: :delete do %>
            <%= tag.name %>
            <% end %>
        <% else %>
          <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small radius' do %>
          <%= tag.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
