<div class="row">
  <div class="small-8 small-centered columns profile-wrapper">

<!-- profile picture -->
    <div class="row user-profile">
      <div class="small-5 columns">
        <%= image_tag @user.photo.url(:medium) %>
      </div>

<!-- div for edit profile form -->
      <div class="small-7 columns" id="edit-user-form"></div>

      <% if current_user == @user %>
<!-- profile info, editable for current user -->
        <div class="small-7 columns profile-info profile-edit-hover">
          <%= link_to edit_user_path, :class => "edit-profile", :remote => true do %>
            <p class="padding">
              <span class="profile-name"><%= @user.firstname %> <%= @user.lastname %></span>
              <i class="fa fa-pencil-square-o big"></i>
            </p>
            <p>age: <%= @user.age %></p>
            <p>gender: <%= @user.gender %></p>
            <p>find users within: <%= @user.search_radius %> miles of me</p>
            <p>about me: <%= @user.description %></p>
          <% end %>
        </div>
      <% else %>
<!-- profile info, not editable for other users -->
        <div class="small-7 columns profile-info">
          <span class="profile-name"> <%= @user.firstname %> <%= @user.lastname %></span>
          <span class="profile-percentage">
            <%= @percentage %>%<br />
            <span class="match">match</span>
          </span>
          <div class="padding">
            <p>age: <%= @user.age %></p>
            <p>gender: <%= @user.gender %></p>
            <% if @user.location %>
              <p>city: <%= @user.location.city %></p>
            <% end %>
            <p>about me: <%= @user.description %></p>
          </div>
        </div>
      <% end %>
    </div>

<!-- link to message user if on other users page -->
    <% if current_user != @user %>
      <div class="row">
        <div class="small-5 columns">
          <%= button_to [:conversations], method: :post, params: {send_to_id: @user.id}, :class => 'tiny secondary button send-message' do %>
            send message
          <% end %>
        </div>
      </div>
    <% end %>

<!-- edit picture -->
    <% if current_user == @user %>
      <div class="row">
      <div class="small-5 columns">
        <%= form_for @user, :url => user_path, method: :put, :html => { :multipart => true } do |form| %>
          <%= form.file_field :photo %>
          <%= form.submit "submit photo", :class => 'tiny secondary button', id: 'photo-submit' %>
        <% end %>
        </div>
      </div>
    <% end %>

<!-- edit location -->
    <% if current_user == @user %>

    <p class="tag-title">location info</p>

      <div id="edit-location-form"></div>

      <div class="large-3 medium-4 columns location-view">
        <%= link_to edit_location_path, :class => 'edit-location', :remote => true do %>        
          <p class="edit-location-hover">
          <% if @user.location %>
            zip code: <%= @user.location.zip %> <i class="fa fa-pencil-square-o"></i>
          <% else %>
            zip code: <i class="fa fa-pencil-square-o"></i>
          <% end %>
          </p>
        <% end %>
        <% if @user.location %>
          <p>city: <%= @user.location.city %></p>
        <% end %>
      </div>

    <% end %>

<!-- tags -->
    <div class="profile-tag-container">

    <div class="clear-float tag-section">
    <p class="tag-title">activities</p>
      <% @activity_tags.each do |tag| %>
        <% if current_user == @user %>

        <span class="tag-button <%= 'selected' if @user.tags.include?(tag) %>">
          <%= button_to [:delete_tagging, @user], params: {tag_id: tag.id}, method: :delete, :class => 'small radius profile-tag-selected', :"data-id" => tag.id, :remote => true do %>
          <%= tag.name %>
          <% end %>

          <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small radius profile-tag-deselected', :"data-id" => tag.id, :remote => true do %>
          <%= tag.name %>
          <% end %>
        </span>

        <% else %>
          <% if @user.tags.include?(tag) %>
            <div class="disabled button small"><%= tag.name %></div>          
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div style="clear: both;"></div>

    <div class="clear-float tag-section">
    <p class="tag-title">goals</p>
      <% @goal_tags.each do |tag| %>
        <% if current_user == @user %>
          
          <span class="tag-button <%= 'selected' if @user.tags.include?(tag) %>">
            <%= button_to [:delete_tagging, @user], params: {tag_id: tag.id}, method: :delete, :class => 'small radius profile-tag-selected', :"data-id" => tag.id, :remote => true do %>
            <%= tag.name %>
            <% end %>

            <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small radius profile-tag-deselected', :"data-id" => tag.id, :remote => true do %>
            <%= tag.name %>
            <% end %>
          </span>

        <% else %>
          <% if @user.tags.include?(tag) %>
            <div class="disabled button small"><%= tag.name %></div>     
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div style="clear: both;"></div>

    <div class="clear-float tag-section">
    <p class="tag-title">interests</p>
      <% @interest_tags.each do |tag| %>
        <% if current_user == @user %>

        <span class="tag-button <%= 'selected' if @user.tags.include?(tag) %>">
          <%= button_to [:delete_tagging, @user], params: {tag_id: tag.id}, method: :delete, :class => 'small radius profile-tag-selected', :"data-id" => tag.id, :remote => true do %>
          <%= tag.name %>
          <% end %>

          <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small radius profile-tag-deselected', :"data-id" => tag.id, :remote => true do %>
          <%= tag.name %>
          <% end %>
        </span>

        <% else %>
          <% if @user.tags.include?(tag) %>
            <div class="disabled button small"><%= tag.name %></div>    
          <% end %>
        <% end %>
      <% end %>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>

</div>

<div class="footer"></div>

