<div class="row">
  <div class="small-8 small-centered columns profile-wrapper">

    <div class="row user-profile">
      <div class="small-5 columns">
        <%= image_tag @user.photo.url(:medium) %>
      </div>
      <div class="small-7 columns profile-info">
        <p>
          <span class="profile-name"><%= best_in_place_if current_user == @user, @user, :firstname, :type => :input %>
          <%= best_in_place_if current_user == @user, @user, :lastname, :type => :input %></span><%if @user != current_user%><span class="profile-percentage"><%= @percentage %>%<br /><span class="match">match</span></span><%end%>
        </p>
        <p>
          age:
          <%= best_in_place_if current_user == @user, @user, :age, :type => :select, :collection => [18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75] %>
        </p>
        <p>
          gender:
          <%= best_in_place_if current_user == @user, @user, :gender, :type => :select, :collection => ['male', 'female', 'n/a'] %>
        </p>

        <% if @user.location %>
          <p>city: <%= @user.location.city %></p>
        <% end %>

        <% if current_user == @user %><p>
          find users within:
          <%= best_in_place_if current_user == @user, @user, :search_radius, :type => :select, :collection => [10, 20, 30, 40, 50, 60, 100] %> miles of me
        </p><% end %>

        <p>
          about me:
          <%= best_in_place_if current_user == @user, @user, :description, :type => :textarea, :nil => "Click here to update!" %>
        </p>
      </div>
    </div>

    <% if current_user != @user %>
      <div class="row">
        <div class="small-5 columns">
          <%= button_to [:conversations], method: :post, params: {send_to_id: @user.id}, :class => 'tiny secondary button' do %>
            send message
          <% end %>
        </div>
      </div>
    <% end %>

    <% if current_user == @user %>
      <div class="row">
      <div class="small-5 columns">
        <%= form_for @user, :url => user_path, method: :put, :html => { :multipart => true } do |form| %>
          <%= form.file_field :photo %>
          <%= form.submit "submit photo", :class => 'tiny secondary button', id: 'photo-submit' %>
        <% end %>
        </div>
      </div>
    <% end %>

    <% if current_user == @user %>
      <p class="tag-title">location info</p>
        <div class="row">
          <div class="small-5 columns">
              <%= form_for @location do |f| %>
                <%= f.label :zip %>
                <%= f.text_field :zip %>
                <%= f.submit 'submit zip', :class => 'tiny secondary button', id: 'photo-submit' %>
              <% end %>
            </div>
        </div>
    <% end %>

    <div class="profile-tag-container">

    <div class="clear-float tag-section">
    <p class="tag-title">activities</p>
      <% @activity_tags.each do |tag| %>
        <% if current_user == @user %>

        <span class="tag-button <%= 'selected' if @user.tags.include?(tag) %>">
          <%= button_to [:delete_tagging, @user], params: {tag_id: tag.id}, method: :delete, :class => 'small radius profile-tag-selected', :"data-id" => tag.id, :remote => true do %>
          <%= tag.name %>
          <% end %>

          <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small radius profile-tag-deselected', :"data-id" => tag.id, :remote => true do %>
          <%= tag.name %>
          <% end %>
        </span>

        <% else %>
          <% if @user.tags.include?(tag) %>
            <div class="disabled button small"><%= tag.name %></div>          
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div style="clear: both;"></div>

    <div class="clear-float tag-section">
    <p class="tag-title">goals</p>
      <% @goal_tags.each do |tag| %>
        <% if current_user == @user %>
          
          <span class="tag-button <%= 'selected' if @user.tags.include?(tag) %>">
            <%= button_to [:delete_tagging, @user], params: {tag_id: tag.id}, method: :delete, :class => 'small radius profile-tag-selected', :"data-id" => tag.id, :remote => true do %>
            <%= tag.name %>
            <% end %>

            <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small radius profile-tag-deselected', :"data-id" => tag.id, :remote => true do %>
            <%= tag.name %>
            <% end %>
          </span>

        <% else %>
          <% if @user.tags.include?(tag) %>
            <div class="disabled button small"><%= tag.name %></div>     
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div style="clear: both;"></div>

    <div class="clear-float tag-section">
    <p class="tag-title">interests</p>
      <% @interest_tags.each do |tag| %>
        <% if current_user == @user %>

        <span class="tag-button <%= 'selected' if @user.tags.include?(tag) %>">
          <%= button_to [:delete_tagging, @user], params: {tag_id: tag.id}, method: :delete, :class => 'small radius profile-tag-selected', :"data-id" => tag.id, :remote => true do %>
          <%= tag.name %>
          <% end %>

          <%= button_to [:tag, @user], params: {tag_id: tag.id}, :class => 'small radius profile-tag-deselected', :"data-id" => tag.id, :remote => true do %>
          <%= tag.name %>
          <% end %>
        </span>

        <% else %>
          <% if @user.tags.include?(tag) %>
            <div class="disabled button small"><%= tag.name %></div>    
          <% end %>
        <% end %>
      <% end %>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>

</div>

<div class="footer"></div>

