<nav class="top-bar" data-topbar role="navigation">

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <% if current_user.photo %>
          <a href="/users/<%=current_user.id%>">
            <%= image_tag current_user.photo.url(:thumb) %> <%=current_user.firstname %> <%= current_user.lastname %></a>
          <% else %>
            <a href="/users/<%=current_user.id%>">
            <%= current_user.firstname %> <%= current_user.lastname %></a>
          <% end %>
        <ul class="dropdown">
          <li>
            <a href="/">home</a>
          </li>
          <li>
            <a href="#">messages</a>
          </li>
          <li>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    
    <ul class="left">
      <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
    </ul>

    <!-- Center Nav Section -->
    <div class="row">
      <div class="small-3 small-centered columns">
        <p class="fitmate-header"><a href="/">fitmates</a></p>
      </div>
    </div>

  </section>
</nav>