<div class="row">
  <div class="small-7 small-centered columns feed-wrapper">

    <div class="user-feed">
      <% if @user.location_id == nil %>
      <div class="small-centered columns default-signup">
      <h1>welcome to fitmates!</h1>
        <h3>Please update your profile with a zip code and search radius to see matches</h3>
      </div>
      <% else %>
        <% @users_within_radius.each do |user,percentage| %>
          <a href="users/<%=user.id%>">
            <div class="row feed-profile">
              <div class="small-3 columns">
                <%= image_tag user.photo.url(:small) %>
              </div>
              <div class="small-6 columns feed-profile-info">
                <p><span class="feed-profile-name"><%= user.firstname %> <%= user.lastname %></p></span>
                <p>gender: <%= user.gender %></p>
                <p>age: <%= user.age %></p>
                <% if user.location %>
                  <p>city: <%= user.location.city %></p>
                <% end %>
              </div>
              <div class="small-3 columns cosine-similarity">
                <h1><%= percentage %>%</h1>
              </div>
            </div>
          </a>
        <% end %>

      <% end %>
    </div>

  </div>
</div>

