<div class="row">
  <div class="small-8 small-centered columns feed-wrapper">

    <div class="user-feed">
      <% @users.each do |user| %>
        <div class="row feed-profile">
          <div class="small-3 columns">
            <%= link_to (image_tag user.photo.url(:small)), user_path(id: user.id) %>
          </div>
          <div class="small-9 columns feed-profile-info">
            <p><span class="feed-profile-name"><%= user.firstname %> <%= user.lastname %></p></span>
            <p>gender: <%= user.gender %></p>
            <p>age: <%= user.age %></p>
            <% if user.location %>
              <p>city: <%= user.location.city %></p>
            <% end %>
            <% if user.description != nil %>
              <p>about me: <%= user.description %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>

