<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitmates</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>
  </head>
<body>

  <% if user_signed_in? %>
    <%= render "home/nav" %>
  <% end %>

  <%= yield %>

<!-- initial login tour -->
<% if current_user && current_user.sign_in_count == 1 %>
  <ol class="joyride-list" data-joyride id="tour">
    <li data-id="first_stop" data-text="Next" data-options="tip_location: top; prev_button: false">
      <p>you can access your inbox here</p>
    </li>
    <li data-id="second_stop" data-text="Next" data-prev-text="Prev">
      <p>this is your homepage where you'll see matches after you fill in your profile</p>
    </li>
    <li data-id="third_stop" data-button="End" data-prev-text="Prev" data-options="tip_location: right;">
      <p>click here to access and update your profile!</p>
    </li>
  </ol>
<% end %>

<%= javascript_include_tag "application" %>

<% if user_signed_in? %>
<script>
  if (!localStorage['tutorial']) {
    $(document).foundation('joyride', 'start');
    localStorage['tutorial'] = 'yes';
  }
</script>
<% end %>

</body>
</html>